<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="shortcut icon" href="{% static 'images/icons/icono_logo.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base_error_page.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <span class="material-symbols-rounded">crisis_alert</span>
    {% block message %}
    {% endblock %}
    <button onclick="location.href='/files'">Regresar a la pagina principal</button>
</body>
</html>